USE [QLBH]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 3/2/2022 8:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MSDDH] [int] NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SL] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_CTDDH_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 3/2/2022 8:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MSDDH] [int] IDENTITY(1,1) NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SDT] [nchar](50) NOT NULL,
	[TRANGTHAI] [nchar](10) NOT NULL,
	[MAKH] [int] NULL,
	[email] [nchar](100) NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MSDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSTAIKHOAN]    Script Date: 3/2/2022 8:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSTAIKHOAN](
	[TAIKHOAN] [nvarchar](50) NOT NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[CHUCVU] [nchar](10) NULL,
 CONSTRAINT [PK_DSTAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TAIKHOAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 3/2/2022 8:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [nchar](10) NOT NULL,
	[NGAYLAPHD] [date] NULL,
	[MANV] [int] NULL,
	[TONGGIA] [float] NULL,
	[MSDDH] [int] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/2/2022 8:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [nchar](50) NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[EMAIL] [nchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[DOANHSO] [float] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/2/2022 8:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](100) NULL,
	[SDT] [nchar](10) NULL,
	[NGAYVAOLAM] [date] NULL,
	[TAIKHOAN] [nvarchar](50) NULL,
	[HINHANH] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 3/2/2022 8:54:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[LOAISP] [nvarchar](50) NULL,
	[NUOCSX] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[MOTA] [ntext] NULL,
	[SOLUONGTON] [int] NULL,
	[HINHANH] [nchar](100) NULL,
	[SALE] [float] NULL,
	[TRANGTHAIXOA] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTDDH] ON 

INSERT [dbo].[CTDDH] ([MSDDH], [MASP], [SL], [Id]) VALUES (18, N'1         ', 100, 35)
INSERT [dbo].[CTDDH] ([MSDDH], [MASP], [SL], [Id]) VALUES (18, N'10        ', 3, 36)
INSERT [dbo].[CTDDH] ([MSDDH], [MASP], [SL], [Id]) VALUES (18, N'11        ', 2, 37)
SET IDENTITY_INSERT [dbo].[CTDDH] OFF
GO
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

INSERT [dbo].[DONDATHANG] ([MSDDH], [HOTENKH], [DIACHI], [SDT], [TRANGTHAI], [MAKH], [email]) VALUES (18, N'Nguyễn Văn Tú', N'Phước Thiện, Phước Sơn, Ninh Phước, Ninh Thuận', N'0923242811                                        ', N'CANCELLED ', NULL, N'nhathk2410@gmail.com                                                                                ')
INSERT [dbo].[DONDATHANG] ([MSDDH], [HOTENKH], [DIACHI], [SDT], [TRANGTHAI], [MAKH], [email]) VALUES (19, N'Nguyễn Thị Thu', N'Ba Đình Hà Nội', N'0982343464                                        ', N'CONFIRMED ', 5, N'nhathk2410@gmail.com                                                                                ')
INSERT [dbo].[DONDATHANG] ([MSDDH], [HOTENKH], [DIACHI], [SDT], [TRANGTHAI], [MAKH], [email]) VALUES (20, N'Mai Thị Như', N'Quận 9 TPHCM Viet Nam Ha Noi', N'0384383592                                        ', N'CANCELLED ', 6, N'nhathk2410@gmail.com                                                                                ')
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
GO
INSERT [dbo].[DSTAIKHOAN] ([TAIKHOAN], [MATKHAU], [CHUCVU]) VALUES (N'Musk', N'35EB7CCA72023C8EAE70AD11595BAE67', N'KHACH     ')
INSERT [dbo].[DSTAIKHOAN] ([TAIKHOAN], [MATKHAU], [CHUCVU]) VALUES (N'Namhk11', N'35EB7CCA72023C8EAE70AD11595BAE67', N'KHACH     ')
INSERT [dbo].[DSTAIKHOAN] ([TAIKHOAN], [MATKHAU], [CHUCVU]) VALUES (N'Nhan', N'35EB7CCA72023C8EAE70AD11595BAE67', N'AD        ')
GO
INSERT [dbo].[HOADON] ([SOHD], [NGAYLAPHD], [MANV], [TONGGIA], [MSDDH]) VALUES (N'1         ', CAST(N'2021-12-09' AS Date), 2, 0, 20)
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SDT], [TAIKHOAN], [EMAIL], [NGAYSINH], [DOANHSO]) VALUES (4, N'Dương Phạm Thanh Tong', N'Phước Thiện, Phước Sơn, Ninh Phước, Ninh Thuận', N'0923242811                                        ', N'Tong', N'nhathk2410@gmail.com                                                                                ', CAST(N'2000-02-20' AS Date), 61)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SDT], [TAIKHOAN], [EMAIL], [NGAYSINH], [DOANHSO]) VALUES (5, N'Nguyễn Thị Thu', N'Ba Đình Hà Nội', N'0982343464                                        ', N'Thu', N'nhathk2410@gmail.com                                                                                ', CAST(N'1999-02-22' AS Date), 0)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [DIACHI], [SDT], [TAIKHOAN], [EMAIL], [NGAYSINH], [DOANHSO]) VALUES (6, N'Mai Thị Như', N'Quận 9 TPHCM', N'0384383592                                        ', N'Nhu', N'nhathk2410@gmail.com                                                                                ', CAST(N'1995-02-22' AS Date), 51)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [NGAYVAOLAM], [TAIKHOAN], [HINHANH], [EMAIL], [DIACHI]) VALUES (1, N'Trọng Nhân Cà Mau', N'0977156825', CAST(N'2021-12-25' AS Date), N'Nhan', N'nhanvien3.png', N'NhanCM@gmail.com', N'Đất Cà Màu Phù Sa ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [NGAYVAOLAM], [TAIKHOAN], [HINHANH], [EMAIL], [DIACHI]) VALUES (2, N'Nguyễn Nhật', N'0977156825', CAST(N'2021-12-11' AS Date), N'nhathk', N'nhanvien1.png', N'nhatdady@gmail.com', N'phố đi bộ ')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [NGAYVAOLAM], [TAIKHOAN], [HINHANH], [EMAIL], [DIACHI]) VALUES (3, N'Nguyễn thị thảo', N'0932322412', CAST(N'2021-12-06' AS Date), N'thaohk123', N'nhanvien2.png', N'nhatdady@gmail.com', N'quận 9')
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [NUOCSX], [DONGIA], [MOTA], [SOLUONGTON], [HINHANH], [SALE], [TRANGTHAIXOA]) VALUES (N'1         ', N'Gấu bông', N'nguyên hộp', N'USA', 5, N'sản phẩm đẹp', 10, N'pro1.png                                                                                            ', 0.30000001192092896, 0)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [NUOCSX], [DONGIA], [MOTA], [SOLUONGTON], [HINHANH], [SALE], [TRANGTHAIXOA]) VALUES (N'10        ', N'Búp bê cao su', N'nguyên hộp', N'USA', 10, N'sản phẩm đẹp', 5, N'pro10.png                                                                                           ', 0.10000000149011612, 0)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [LOAISP], [NUOCSX], [DONGIA], [MOTA], [SOLUONGTON], [HINHANH], [SALE], [TRANGTHAIXOA]) VALUES (N'11        ', N'Bàn trang điểm', N'nguyên hộp', N'USA', 11, N'sản phẩm chất lượng', 6, N'pro11.png                                                                                           ', 0.10000000149011612, 0)
GO
/****** Object:  Index [IX_HOADON]    Script Date: 3/2/2022 8:54:00 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [IX_HOADON] UNIQUE NONCLUSTERED 
(
	[MSDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_SALE]  DEFAULT ((0)) FOR [SALE]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_DONDATHANG] FOREIGN KEY([MSDDH])
REFERENCES [dbo].[DONDATHANG] ([MSDDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DONDATHANG]
GO
ALTER TABLE [dbo].[CTDDH]  WITH CHECK ADD  CONSTRAINT [FK_CTDDH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_SANPHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DONDATHANG] FOREIGN KEY([MSDDH])
REFERENCES [dbo].[DONDATHANG] ([MSDDH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DONDATHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_DSTAIKHOAN] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[DSTAIKHOAN] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_DSTAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_DSTAIKHOAN] FOREIGN KEY([TAIKHOAN])
REFERENCES [dbo].[DSTAIKHOAN] ([TAIKHOAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_DSTAIKHOAN]
GO
